<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">

    </head>

    <body>
         <header style="background-color: yellow;">

        <header>
            <div class="top-header">

            <div class="logo">
             <img src="static/images/logo-mercado-liebre.svg" width="100%" alt="Logo de MercadoLiebre">
            </div>
            
            <div class="input"><input type="text" placeholder="Buscar productos, marcas... " class="input1"><i class="fas fa-search iconsearch"></i></div> 
            
            <p class="texto-header"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>

        </div>
            
          

            <nav>
                <ul class="nav-bar-left" style="list-style: none;">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>

                <ul class="nav-bar-right" style="list-style: none;">
                    <li><a href="/register">Creá tu cuenta <i class="fas fa-address-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-bag"></i></a></li>
                </ul>
            </nav>
        
            
        </header>


        

        <div class="burger-menu"><div id="burger" >
        <i class="fas fa-bars"></i></div>
        </div>

        </header>


         <img src="static/images/img-home-banner.jpg"  width="100%" alt="Banner de ofertas">

            
         <main>

            <section class="ultima-vista">
                
                <h3 class="Titulares">Basado en tu última visita</h3>

                <div class="productos">

                <article>
                    <img src="static/images/img-cafetera-moulinex.jpg" width="100%" alt="Cafetera" class="Cafetera">
                
                 <div class="article-description"> <i class="fas fa-truck camioncito"></i>

                   <div class="article-precio-descuento">
                      <p class="Precios">$6.770</p>
                      <p class="Descuentos">40% off</p>
                   </div>

                     <br>
                    <h4>Cafetera Moulinex</h4>
                 </div>

                </article>

                <article>
                <img src="static/images/img-macbook-pro-2019.jpg" width="100%" alt="MacBook" >

                <div class="article-description"><i class="fas fa-truck camioncito"></i>

                <div class="article-precio-descuento"> 
                <p class="Precios">$230.000</p>
                <p class="Descuentos">20% off</p>
                </div>


                <br>
                <div>
                <h4>MacBook Pro 2019</h4>
                 </div>
                </div>

                </article>
              
                <article>
                <img src="static/images/img-samsung-galaxy-s10.jpg" width="100%" alt="Teléfono Móvil Samsung Galaxy" >
                
                <div class="article-description"><i class="fas fa-truck camioncito"></i>

                <div class="article-precio-descuento">
                <p class="Precios">$70.500</p>
                <p class="Descuentos">10% off</p>
                </div>

                <br>
                <h4>Teléfono móvil Samsung Galaxy S10</h4>
                </div>

                </article>

                <article>
                <img src="static/images/img-tv-samsung-smart.jpg" width="100%" alt="SmartTv Samsung">
                
                <div class="article-description"><i class="fas fa-truck camioncito"></i>

                <div class="article-precio-descuento">  
                <p class="Precios">$23.200</p>
                <p class="Descuentos">5% off</p>
                </div>

                <br>
                <h4>SmartTv Samsung 43"</h4>
                </div>

             </article>

              </div>
            
             </section>





             <section class="oferts">

                <h3 class="Titulares">Ofertas</h3>
                <div class="productos">

                    <article>
                        <img src="static/images/img-cafetera-moulinex.jpg" width="100%" alt="Cafetera" class="Cafetera">
                        
                        <div class="article-description"> <i class="fas fa-truck camioncito"></i>
        
                        <div class="article-precio-descuento">
                        <p class="Precios">$6.770</p>
                        <p class="Descuentos">40% off</p>
                        </div>
        
                        <br>
                        <h4>Cafetera Moulinex</h4>
                        </div>
        
                        </article>
        
                        <article>
                        <img src="static/images/img-macbook-pro-2019.jpg" width="100%" alt="MacBook" >
        
                        <div class="article-description"><i class="fas fa-truck camioncito"></i>
        
                        <div class="article-precio-descuento"> 
                        <p class="Precios">$230.000</p>
                        <p class="Descuentos">20% off</p>
                        </div>
        
                        <br>
                        <h4>MacBook Pro 2019</h4>
                        </div>
        
                        </article>
                      
                        <article>
                        <img src="static/images/img-samsung-galaxy-s10.jpg" width="100%" alt="Teléfono Móvil Samsung Galaxy" >
                        
                        <div class="article-description"><i class="fas fa-truck camioncito"></i>
        
                        <div class="article-precio-descuento">
                        <p class="Precios">$70.500</p>
                        <p class="Descuentos">10% off</p>
                        </div>
        
                        <br>
                        <h4>Teléfono móvil Samsung Galaxy S10</h4>
                        </div>
        
                        </article>
        
                        <article>
                        <img src="static/images/img-tv-samsung-smart.jpg" width="100%" alt="SmartTv Samsung">
                        
                        <div class="article-description"><i class="fas fa-truck camioncito"></i>
        
                        <div class="article-precio-descuento">  
                        <p class="Precios">$23.200</p>
                        <p class="Descuentos">5% off</p>
                        </div>
        
                        <br>
                        <h4>SmartTv Samsung 43"</h4>
                        </div>
        
                     </article>
    
                  </div>

            </section>
            </main>

        <footer class="footer">

            <br>
            <br>
            <br>

             <div class="foot2">
                <div class="tarjetacredito"><i class="fas fa-credit-card"></i> </div>
                  <h3 class="foot1">Paga con tarjeta o en efectivo</h3>
                    <p class="foot">Con MercadoLiebreClash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y 
                      siempre es seguro!.
                    </p>
             </div>

            <br>
            <br>

            <div class="foot2">
               <div class="regaloICON"><i class="fas fa-gift"></i></div>
                 <h3 class="foot1">Envio gratis desde los $2.500</h3>
                   <p class="foot">Solo por estar registrad@ en MercadoLibere, tenes envios gratis en miles 
                     de productos. Es un beneficio de MercadoPuntos.
                   </p>
            </div>

            <br>
            <br>


       
            <div class="foot2">
                <div class="SeguridadIcon"><i class="fas fa-user-shield"></i> </div>
                  <h3 class="foot1">Seguridad de Principio a fin</h3>
                    <p class="foot">¿No te gusta? ¡Devolvelo! En MercadoLibere no hay nada que no puedas hacer porque
                     estas siempre protegid@.
                    </p>
            </div>

            <br>

            
            </footer>
            <h6 style="font-style: italic;opacity: 0.8;background-color: white;">Copyright @ 1999-2020 MercadoLiebre S.R.L</h6>
           
        
        
    </body>
</html>